@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @apply bg-white dark:bg-[#0f0f0f] text-zinc-900 dark:text-[#EDEDED];
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Custom scrollbar for job queue */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Button Reset */
button:focus {
    outline: none;
}
